* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.welcomepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-image: url("../images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.navigationbar {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.navigationbar a {
  text-decoration: none;
  color: #FFA500;
}

.section1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.section1 a {
  color: white;
  background-color: #0336FF;
  padding: 15px;
  text-decoration: none;
  border-radius: 7px;
}

.section1 p,
.section1 h3,
.section1 h1 {
  color: white
}

.section1 h1 {
  width: 22ch;
  text-align: center;
  font-size: 64px;
}

.section1 span {
  color: #FFA500;
}

.section1 h3,
.section1 span,
.section1 p {
  font-size: 30px;
}

.location {
  position: absolute;
  bottom: 30px;
  right: 80px;
}

.card1 {
  width: 280px;
  height: 430px;

}

.card1 img {
  width: 200px;
  height: 160px;
}

.card1 a {
  color: white;
  background-color: #0336FF;
  padding: 15px;
  text-decoration: none;
  border-radius: 7px;
}

.card1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.card2 {
  width: 280px;
  height: 430px;
}

.paragraphs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.numbers {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.numbersandparagraphs {
  display: flex;
  justify-content: space-around;
}

.card3 {
  text-align: center;
  width: 280px;
  height: 60px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card4 p {
  margin-top: 30px;
  color: white;
}

.card4 h3 {
  font-weight: bold;
  color: white;
  width: 23ch;
}

.card4 {
  width: 280px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("../images/image\ 6.png");
  background-size: cover;
}

.card5 {
  width: 280px;
  height: 60px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card4 i {
  background-color: white;
  padding: 6px;
}

/* .icon{
  display: flex;
  margin-left: 10px;
  gap: 30px;
} */
.icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card4 {
  position: relative;
}

.findinglove {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card6 {
  display: flex;
  justify-content: space-around;

}

.card6 img {
  height: 60px;
  margin-right: 5px;
}

.card7 a {
  color: white;
  text-decoration: none;
}

.card7 button {
  background-color: #0336FF;
  padding: 15px;
  border-radius: 7px;
}

.card7,
.card8,
.card9 {
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
}

.card7 p {
  text-align: center;
  color: rgb (170, 171, 172);
}

.card8 p {
  color: #0336FF;
  font-weight: bold;
}

.first {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card8 img {
  height: 60px;
  margin-right: 5px;
}


.facebook a,
.twitter a,
.youtube a,
.insta a {
  background-color: #0336FF;
  padding: 12px 24px;
  border-radius: 5px;
  display: flex;
  gap: 7px;
  text-decoration: none;
}

.facebook a,
.twitter a,
.youtube a,
.insta a {
  color: white;
}

.card9 .twitter a {
  background-color: #60B7FE;
}

.card9 p {
  width: 6ch;
  font-size: 10px;
}

.card9 .youtube a {
  background-color: #FE2C3C;
}

.card9 .insta a {
  background-color: #E14D93;
}

.card9 {
  background-color: bisque;
  height: 200px;
}

.socialmedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.leftside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card10 img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 7px;
}

.loca,
.comment {
  display: flex;
  gap: 7px;
  padding-left: 20px;
}

.endcard10 {
  display: flex;
}

.card10 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.card10 p,
.card10 h4,
.card10 i {
  padding-left: 20px;
}

.card11 {
  width: 350px;
  display: flex;
  gap: 40px;
  flex-direction: column;

}

.card11 img {
  width: 350px;
  height: 260px;
  object-fit: cover;
}

.card11 p {
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 10px;
}

.cards11 {
  display: flex;
  gap: 20px;
}

.card12 {
  background-image: url("../images/image\ 18.png");
  object-fit: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 650px;
  height: 400px;
}

.card12 h1 {
  width: 32ch;
}

.card12 h1 span {
  color: #FFA500;
}

.rightside {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.section2 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(207, 196, 196);
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12 {
  background-color: white;
  border-radius: 8px;
}

.images {
  margin-top: 30px;
  display: flex;
}

.footer1 {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.footer1 button {
  color: white;
  background-color: #6c84e0;
  padding: 10px 50px;
  border-radius: 8px;
}

.footer1 span {
  color: #60B7FE;
}

.footer1 button:hover {
  background-color: blue;
}

.footerhead{
margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerhead h5{
  font-weight:900
}
.footerend1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
  width: 20%;
  margin-left: 30px;
  margin-top: 40px;
}
.footerend2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
  width: 20%;

}
.footerend3,.footerend4{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 170px;
  width: 15%;
 
}
.footerend2 a,.footerend3 a,.footerend4 a{
  text-decoration: none;
  color: black;
}

.footerends{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.end{
  background: rgba(0, 0, 0, 0.68);
}
.socialmedias{
  display: flex;
  gap: 5px;
}
.socialmedias i{
  color: white;
}

.footerbottom{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  padding-bottom: 50px;
}
