.welcomepage {
    background-image: url("../images/pexels-tomas-anunziata-3876407\ 1.png");
 background-size: cover;
}

.tipscard {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 2.76726px 6.22633px 0px rgba(0, 0, 0, 0.02), 0px 6.6501px 14.96273px 0px rgba(0, 0, 0, 0.03), 0px 12.52155px 28.17349px 0px rgba(0, 0, 0, 0.04), 0px 22.33631px 50.25669px 0px rgba(0, 0, 0, 0.04), 0px 41.77761px 93.99962px 0px rgba(0, 0, 0, 0.05), 0px 100px 225px 0px rgba(0, 0, 0, 0.07);
border-radius: 25px;
margin:30px 0px;
}

.tipscard img {
    width: 100%;
    border-radius: 25px;
}

.tipscard h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    width: 19ch;
    color: white;
   
}
.h4width{
width: 100%;
background-color: #0336FF;
}
.tipscard h4,.tipscard p, .tipscard i{
    margin-left: 6px;
}

.icongroup{
    display: flex;
    gap: 10px;
}
.icongroup i{
    color: black;
}
.icongroup span{
    font-weight: bold;
}

.alltipscards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}